.container {
    position: relative;
    width: 80%;
    max-width: 875px;
    min-width: 734px;
    height: 250px;
    background: black;
    display: flex;
}

.thumbnail {
    position: relative;
    width:  35%;//335px;
    height: 100%;
    background: thistle;
}

.left-arrow, .right-arrow {
    position: absolute;
    width: 23px;
    height: 100%;
    display: flex;
    align-items: center;
}

.left-arrow i, .right-arrow i {
    font-size: 40px;
}

.left-arrow i {
    margin-left: 2.5px;
}

.left-arrow {
    left: 0px;
}

.right-arrow {
    right: 0px;
}

.thumbnail img {
    display: block;
    height: 100%;
    width: auto;
}





////////////--INFO--/////////////////

.info {
    position: relative;
    width: 65%;
    height: 100%;
    background: red;
}

.description {
    position: relative;
    width: 100%;
    height: 80%;
    background: grey;
}

.description h1, .description p {
    margin-left: 15px;
}

.description h1 {

    font-size: 17px;
}

.price {
    position: absolute;
    width: 100%;
    height: 35px;
    bottom: 0px;
    background: pink;
    display: flex;
    align-items: center;
}

.price span {
    margin-left: 15px;
}

.greybar {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background: #eaeaea;
}


//ancho del thumbnail 335
//ancho de barra gris 50px
//super destacado width 138 height 30px
//corazon height 30px