* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: black;
}


section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#seccion-uno {
    width: 100%;
    height: 400px;
}

#seccion-dos {
    width: 100%;
    height: 150px;
}