[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Cómo usar LocalStorage con JavaScript y HTML5
Type=Link
URL=https://platzi.com/blog/local-storage-html5/
Icon=text-html
